[submodule "submodules/data-plane-api"]
	path = envoy-proto-collect/submodules/data-plane-api
	url = https://github.com/envoyproxy/data-plane-api
[submodule "submodules/xds"]
	path = envoy-proto-collect/submodules/xds
	url = https://github.com/cncf/xds
[submodule "submodules/protoc-gen-validate"]
	path = envoy-proto-collect/submodules/protoc-gen-validate
	url = https://github.com/bufbuild/protoc-gen-validate
[submodule "submodules/googleapis"]
	path = envoy-proto-collect/submodules/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "submodules/opencensus-proto"]
	path = envoy-proto-collect/submodules/opencensus-proto
	url = https://github.com/census-instrumentation/opencensus-proto
[submodule "submodules/opentelemetry-proto"]
	path = envoy-proto-collect/submodules/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto
[submodule "submodules/client_model"]
	path = envoy-proto-collect/submodules/client_model
	url = https://github.com/prometheus/client_model
[submodule "envoy-proto-collect/submodules/cel-spec"]
	path = envoy-proto-collect/submodules/cel-spec
	url = https://github.com/google/cel-spec
